@use "./global/globalRules";
@use "./layout/nav";
$medium: "1190px";
$small: "980px";
.container {
  max-width: 1170px;
  margin: 0 auto;
  @media screen and (max-width: $medium) {
    // width: 960px;
  }
  @media screen and (max-width: $small) {
  }
}
