* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  background-color: #d4a373;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  height: 44px;
}

nav ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

nav ul li a {
  height: 100%;
  padding: 15px 20px;
  color: #fefae0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: -webkit-transform 80ms;
  transition: -webkit-transform 80ms;
  transition: transform 80ms;
  transition: transform 80ms, -webkit-transform 80ms;
}

nav ul li a svg {
  max-height: 100%;
}

nav ul li :hover {
  color: #faedcd;
  background-color: #d7aa7d;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}