* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  background-color: #795548;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  height: 44px;
}
nav ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}
nav ul li a {
  height: 100%;
  padding: 10px 0;
  color: #fefae0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: -webkit-transform 80ms;
  transition: -webkit-transform 80ms;
  transition: transform 80ms;
  transition: transform 80ms, -webkit-transform 80ms;
  position: relative;
}
nav ul li:last-child svg {
  max-height: 100%;
}
nav ul li:last-child #cart {
  display: none;
  position: absolute;
  font-size: 10px;
  top: 75%;
  left: 63%;
  -webkit-transform: translate(-63%, -75%);
          transform: translate(-63%, -75%);
  padding: 4px;
  background-color: blue;
  color: #fff;
  border-radius: 50%;
}
nav ul li :hover {
  color: #faedcd;
  background-color: rgb(255, 142, 66);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ff7575;
  border-color: #ff7575 transparent #ff7575 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#upArrow {
  opacity: 0;
  display: none;
  width: 44px;
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  z-index: 5000;
  cursor: pointer;
  right: 30px;
  padding: 10px;
}
#upArrow:hover {
  background-color: #ddd;
}

.slider {
  overflow: hidden;
  position: relative;
}
.slider #arrowLeft,
.slider #arrowRight {
  position: absolute;
  z-index: 800;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 44%;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(121, 85, 72, 0.5);
}
.slider #arrowLeft:hover,
.slider #arrowRight:hover {
  background-color: rgba(121, 85, 72, 0.7);
  border: 1px solid #795548;
}
.slider #arrowLeft:nth-child(2),
.slider #arrowRight:nth-child(2) {
  right: 40px;
  left: initial;
}
.slider .bullets {
  width: 150px;
  height: 44px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 800;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .bullets div {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border 100ms;
  transition: border 100ms;
  background-color: rgba(255, 255, 255, 0.5);
}
.slider .bullets div:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
}
.slider .bullets div.selected {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
}
.slider .container {
  height: calc(100vh - 47px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  max-width: none;
}
.slider .container div {
  height: calc(100vh - 48.8px);
  width: 33.33%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider .container .one {
  background-image: url("../images/slider_1.jpg");
}
.slider .container .two {
  background-image: url("../images/slider_2.jpg");
}
.slider .container .three {
  background-image: url("../images/slider_3.jpg");
}

.section {
  background: #ccd5ae;
  color: #000;
  padding: 50px 20px;
  margin-top: -2px;
}
.section .container {
  margin: 0 auto;
  width: 1170px;
}
.section .container h2 {
  margin-bottom: 15px;
}

.shop {
  padding: 50px 0;
}
.shop .container .categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.shop .container .categories p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 3em;
  color: red;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}
.shop .container .categories p:hover, .shop .container .categories p:focus {
  color: #fff;
  outline: 0;
  -webkit-box-shadow: 0 0 40px 40px red inset;
          box-shadow: 0 0 40px 40px red inset;
}
.shop .container .items {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fill, 400px);
  position: relative;
  gap: 20px;
}
.shop .container .items .card {
  border: 1px solid #efefef;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  border-radius: 25px;
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.shop .container .items .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.shop .container .items .card:hover img {
  -webkit-transform: scale(1.2) rotate(5deg);
          transform: scale(1.2) rotate(5deg);
  opacity: 0.8;
}
.shop .container .items .card img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  max-height: 120%;
  max-width: 120%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.shop .container .items .card .text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  color: #000;
  background: rgba(0, 0, 0, 0.1);
}
.shop .container .items .card .text .btn {
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  background-color: #ff7575;
  border-radius: 25px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

main > .container-fluid {
  padding: 25px 15px;
}
main > .container-fluid:nth-child(odd) {
  background-color: rgba(121, 85, 72, 0.85);
  color: #fff;
}
main > .container-fluid:nth-child(even) {
  background-color: #ebebeb;
}
main > .container-fluid h2 {
  padding: 10px 0;
}
main > .container-fluid P {
  padding: 4px 0;
}

main form {
  padding: 50px 0;
}
main form .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 10px;
  max-width: 500px;
}
main form .container:not(:last-child) :nth-child(odd) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
main form .container:not(:last-child) :nth-child(even) {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}
main form .container .error {
  position: absolute;
  width: 180px;
  padding: 10px 5px;
  border-radius: 15px;
  border: 1px solid rgb(109, 4, 4);
  color: rgb(109, 4, 4);
  background-color: rgb(255, 166, 166);
  right: -190px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
main form .container .btn {
  padding: 10px 20px;
  background-color: #795548;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  background-color: #795548;
  padding: 40px 0;
}
footer .container {
  width: 1170px;
}
footer .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
}
footer .container .links .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .container .links .box > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 5px;
}
footer .container .links .box .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container .links .box .form #newsEmail {
  width: 70%;
}
footer .container .links .box .form .btn {
  width: 30%;
}
footer .container .address {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 5px;
}
footer .container :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}