@use "../../global/colors";
main {
  form {
    padding: 50px 0;
    .container {
      position: relative;
      display: flex;
      justify-content: center;
      // align-items: flex-start;
      padding: 15px 10px;
      max-width: 500px;
      &:not(:last-child) :nth-child(odd) {
        flex-grow: 1;
      }
      &:not(:last-child) :nth-child(even) {
        flex-grow: 3;
      }
      .error {
        position: absolute;
        width: 180px;
        padding: 10px 5px;
        border-radius: 15px;
        border: 1px solid rgb(109, 4, 4);
        color: rgb(109, 4, 4);
        background-color: rgb(255, 166, 166);
        right: -190px;
        top: 50%;
        transform: translateY(-50%);
      }
      .btn {
        padding: 10px 20px;
        background-color: colors.$main;
        color: colors.$text-alt;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
