.slider {
  overflow: hidden;
  .container {
    height: 90vh;
    display: flex;
    width: 300%;
    transition: all 1s;
    div {
      height: calc(100vh - 48.8px);
      width: 33.33%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .one {
      background-image: url("../images/slider_1.jpg");
    }
    .two {
      background-image: url("../images/slider_2.jpg");
    }
    .three {
      background-image: url("../images/slider_3.jpg");
    }
  }
}
